@model HomeIS.Models.Transaction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Apartment.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartment.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyingPrice)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>

<br />
<br />

<div class="cool-wrapper">
    <span class="cool-square">
        <a class="cool-a-tag before after" href="~/Transactions/">Back To List</a>
    </span>
</div>
