@model HomeIS.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Apartment.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartment.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyingPrice)
        </dd>

    </dl>
</div>

<div>
    <div class="cool-wrapper" style="float: left;">
        <span class="cool-square">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "cool-a-tag before after" })
        </span>
    </div>

    <div class="cool-wrapper" style="margin-left: 30%;">
        <span class="cool-square">
            <a class="cool-a-tag before after" href="~/Transactions/">Back to List</a>
        </span>
    </div>
</div>