@model HomeIS.Models.Apartment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balcony)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balcony)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photos)
        </dt>

        <dd>
            @foreach (var photo in Model.PhotoList)
            {
                if (photo.Contains("http"))
                {
                    <img class="apartment-view-image" src="@photo" />
                }
                else
                {
                    <img class="apartment-view-image" src="../../@photo" />
                }
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
        </div>
    }
</div>

<br />
<br />

<div class="cool-wrapper">
    <span class="cool-square">
        <a class="cool-a-tag before after" href="~/Apartments/">Back To List</a>
    </span>
</div>
