@model HomeIS.Models.Apartment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balcony)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balcony)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photos)
        </dt>

        <dd>
            @foreach (var photo in Model.PhotoList)
            {
                if (photo.Contains("http"))
                {
                    <img class="apartment-view-image" src="@photo" />
                }
                else
                {
                    <img class="apartment-view-image" src="../../@photo" />
                }
            }
        </dd>

    </dl>
</div>

<div>
    <div class="cool-wrapper" style="float: left;">
        <span class="cool-square">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "cool-a-tag before after" })
        </span>
    </div>

    <div class="cool-wrapper" style="margin-left: 30%;">
        <span class="cool-square">
            <a class="cool-a-tag before after" href="~/Apartments/">Back to List</a>
        </span>
    </div>
</div>