@model IEnumerable<HomeIS.Models.Apartment>

@{
    ViewBag.Title = "My Apartments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    @Styles.Render("~/Content/site.css")
    @Styles.Render("~/Content/cool-a-tag.css")
</header>

<h2>Index</h2>

<br />
<div class="cool-wrapper">
    <span class="cool-square">
        <a class="cool-a-tag before after" href="~/Apartments/Create">Create New</a>
    </span>
</div>
<br />

<table class="table">
    <tr>
        <th class="th-width-20">
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th class="th-width-15">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="th-width-15">
            Number Of Rooms
        </th>
        <th class="th-width-35">
            @Html.DisplayNameFor(model => model.Photos)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <label>City: </label> @Html.DisplayFor(modelItem => item.Location.City)
                <br />
                <label>Neighborhood: </label> @Html.DisplayFor(modelItem => item.Location.Neighborhood)
                <br />
                <label>Address: </label> @Html.DisplayFor(modelItem => item.Location.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRooms)
            </td>
            <td>
                @if (item.PhotoList != null)
                {
                    foreach (var photo in item.PhotoList)
                    {
                        <img class="apartment-view-image" src="@photo" />
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })

                @if (Model.Single(p => p.ID == item.ID).Owner.UserName == User.Identity.Name)
                {
                    <span> | </span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    <span> | </span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
